* {
margin:0;
padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.nav-logo, nav li{
	display: inline-block;
	padding: 1em;
	margin-left: 50px;

}

.right-nav {
	float: right;
	margin-right: 50px;
}

nav {
	/* Still shows the nav bar when scrolling */
	position: fixed;
	width: 100%;
	background-color: #FFF;
}

/* Button */
.tuitt-button {
	background-color: #c2195b;
	border-radius: 15px;
	border: none;
	color: white;
	padding: 15px;
}

#bg-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh4.googleusercontent.com/proxy/vnrU_-Gaj4Fnca-KM__paIIzo1H0ROp0LXgT32efgiPjRpAYDYa9Rfyo2pA2ExzGoA7G30i3lSQuUWtz_ga5l6oKq6ANiGSg1T7GeB0FPJPgZHu_wRz8lqPhr_o=w1920-h969");

	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 50vh;
	/* Put Padding so That navbar won't cover h1 */
	padding: 71px;
	


	/* Font */
	color: white;
	text-align: right;

	/*Distance to Intro Section*/
	margin-bottom: 50px;

}
.container {
}


.title {

	margin-bottom: 1rem;
	font-size: 40px;
	margin-right: 50px;
	font-family: Zilla Slab;
	margin-bottom: 50px;
	
}

.subtitle {
	;
	margin-left: 75%;
	font-size: 20px;
	margin-right: 50px;
	margin-bottom: 20px;

}
.apply-button{
	background-color: #c2195b;
	border-radius: 15px;
	border: none;
	color: white;
	padding: 20px 30px;
	margin-right: 5%;

}

/*  Intro Section */

.intro {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

/* Title for intro and pre-footer */
.title-2 {
	font-size: 30px;
	margin-bottom: 50px;
	font-family: Zilla Slab;
}

.intro-description {
	font-size: 20px;
	margin-bottom: 10rem
}

/* Pre Footer */

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	padding: 10rem;

}

.book-button {
	background-color: #336589;
	border-radius: 15px;
	border: none;
	color: white;
	padding: 20px 30px;;

}

.prefooter-description{
	margin-bottom: 20px;
}

/* Footer */

footer {
	text-align: center;
}



